<div class="container color-light">

    <div class="col">

       <form>
          <input type="text" class="txt" name="name" placeholder="name" [(ngModel)]="myHeader.name"><br>
          <input type="text" class="txt" name="goalLife" placeholder="goal life" [(ngModel)]="myHeader.goalLife"><br>
          <input type="text" class="txt" name="photoURL" placeholder="URL photo" [(ngModel)]="myHeader.photoURL"><br>
          <input type="text" class="txt" name="email" placeholder="email" [(ngModel)]="myHeader.email"><br>
          <input type="text" class="txt" name="phoneNumber" placeholder="phone number" [(ngModel)]="myHeader.phoneNumber"><br>
          <input type="text" class="txt" name="location" placeholder="location" [(ngModel)]="myHeader.location"><br>
          <input type="text" class="txt" name="socialNetwork" placeholder="social network" [(ngModel)]="myHeader.socialNetwork"><br>
	  <p style="color: red">{{ errorMessage }}</p> <!-- llenar campos completos -->
		<input type="submit" class="btn" [disabled]="!canAddHeader && !selectedId" value="{{ btnTxt }}" (click)="agregarHeader()">

       </form>

	<p *ngIf="!canAddHeader && !selectedId" style="color: red;">
	  Ya existe un header. Solo puedes tener uno.
	</p>


    </div>

    <div class="col">
	<div class="record-card profile-card" *ngFor="let header of header">
	  <div class="profile-content">
	    <img [src]="header.photoURL" alt="Photo" class="profile-img">

	    <div class="profile-info">
	      <p><strong>{{ header.name }}</strong></p>
	      <p><em>{{ header.goalLife }}</em></p>
	      <p>{{ header.email }} - {{ header.phoneNumber }} - {{ header.socialNetwork }}</p>
	      <p>{{ header.location }}</p>

	      <div class="record-buttons">
	        <button (click)="updateHeader(header.id)">Update</button>
       	 <button (click)="deleteHeader(header.id)">Delete</button>
	      </div>
	    </div>
	  </div>
	</div>

    </div>

</div>
