<div class="container color-dark">

    <div class="col">

       <p>certificates items</p>

    </div>

</div>
<div class="container color-light">

    <div class="col">

       <form>
          <input type="text" class="txt" name="title" placeholder="title" [(ngModel)]="myCertificates.title"><br>
          <input type="text" class="txt" name="year" placeholder="year AAAA" [(ngModel)]="myCertificates.year"><br>
          <input type="text" class="txt" name="description" placeholder="description" [(ngModel)]="myCertificates.description"><br>
          <input type="submit" class="btn" value="{{ btnTxt }}" (click)="AgregarCertificates()">
       </form>
    </div>

    <div class="col">
	<div class="record-card" *ngFor="let certificate of certificates">
	      <h3>{{ certificate.title }} ({{ certificate.year }})</h3>
	      <p>{{ certificate.description }}</p>

	      <div class="record-buttons">
	        <button (click)="updateCertificates(certificate.id)">Update</button>
	        <button (click)="deleteCertificates(certificate.id)">Delete</button>
	      </div>
	</div>
    </div>

</div>
