<div class="container color-dark">

    <div class="col">

        <p>languages items</p>

    </div>

</div>
<div class="container color-light">

    <div class="col">

        <form>
            <input type="text" class="txt" name="language" placeholder="language" [(ngModel)]="myLanguage.language"><br>
            <input type="submit" class="btn" value="{{ btnTxt }}" (click)="agregarLanguage()">
        </form>
    </div>

    <div class="col">
	    <div class="record-card" *ngFor="let language of languages">
	      <h3>{{ language.language }}</h3>

	      <div class="record-buttons">
	        <button (click)="updateLanguage(language.id)">Update</button>
	        <button (click)="deleteLanguage(language.id)">Delete</button>
	      </div>
	    </div>
    </div>

</div>

