<div class="container color-dark">

    <div class="col">

        <p>education items</p>

    </div>

</div>
<div class="container color-light">

    <div class="col">

        <form>
            <input type="text" class="txt" name="startDate" placeholder="start date (mm/yyyy)" [(ngModel)]="myEducation.startDate"><br>
            <input type="text" class="txt" name="endDate" placeholder="end date (mm/yyyy)" [(ngModel)]="myEducation.endDate"><br>
            <input type="text" class="txt" name="name" placeholder="education title" [(ngModel)]="myEducation.name"><br>
            <input type="text" class="txt" name="school" placeholder="school name" [(ngModel)]="myEducation.school"><br>
	    <p style="color: red">{{ errorMessage }}</p> <!-- llenar campos completos -->
            <input type="submit" class="btn" value="{{ btnTxt }}" (click)="agregarEducation()">
        </form>
    </div>

    <div class="col">
	<div class="record-card" *ngFor="let edu of education">
	  <p><strong>{{ edu.name }}</strong> – {{ edu.school }}</p>
	  <p>{{ edu.startDate }} – {{ edu.endDate }}</p>

	  <div class="record-buttons">
	    <button (click)="updateEducation(edu.id)">Update</button>
	    <button (click)="deleteEducation(edu.id)">Delete</button>
	  </div>
	</div>

    </div>

</div>

